[Unit]
Description = Get Xiaomi Mi Composition Scale 2 weight and publish to fitbit
After = network.target
StartLimitIntervalSec = 0

[Service]
Type = simple
Restart = always
RestartSec = 5
User = root
ExecStart = /home/pijus/Scripts/MiCompositionScale2/target/debug/MiCompositionScale2

[Install]
WantedBy = multi-user.target
